<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 不同的mapper文件的namespace是不一样的. 如果使用Mapper接口应使用其对应的dao全限定名称-->
<mapper namespace="com.wang.Mapper.UserMapper">

	<select id="get" resultType="User">
		SELECT id,name,price FROM mouse
		WHERE id=#{id}
	</select>

	<select id="listAll" resultType="User">
		SELECT id,name,price FROM mouse
	</select>




	<insert id="save" useGeneratedKeys="true" keyProperty="id"
		parameterType="User">
		INSERT INTO mouse (name,price) VALUES(#{name},#{price})
	</insert>


	<!-- 更改操作 -->
	<update id="update">
		UPDATE mouse SET name= #{name} ,price = #{price}
		WHERE id = #{id}
	</update>

	<!-- 删除操作 -->
	<delete id="delete">
		DELETE FROM mouse WHERE id = #{id}
	</delete>

</mapper>
