<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties"></properties>

	<settings>
		<!-- 开启懒加载模式 -->
		<setting name="lazyLoadingEnabled" value="true" />
		<!-- 禁用积极延迟加载 -->
		<setting name="aggressiveLazyLoading" value="false" />
		<!-- 延迟加载触发方法 -->
		<setting name="lazyLoadTriggerMethods" value="clone" />
	</settings>
	<typeAliases>
		<package name="com.wang.Object" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/wang/Mapper/TeacherMapper.xml" />
		<mapper resource="com/wang/Mapper/StudentMapper.xml" />
	</mappers>
</configuration>